* {
  margin: 0;
  padding:0;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, Tahoma, sans-serif;
}

footer{
    background-color: #008B8B;
}


/* blocos*/
.test {
  position: relative;
  width: 50%;
}

/* imagem */
.image {
  width: 100%;
  height: auto;
}

/* o que acontecerar no hover */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform:scale(0);
  transition: .3s ease;
}

/*hpver */
.test:hover .overlay {
  transform: scale(1)
}

/* texto escondido no overlay */
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

